<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Abhi Fake API</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Welcome To Technical Abhi API Services</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Route</th>
                    <th>Method</th>
                    <th>Type</th>
                    <th>Full Route</th>
                    <th>Description</th>
                </tr>

            </thead> 
            <tbody>
                <tr>
                    <td>1</td>
                    <td>/users</td>
                    <td>GET</td>
                    <td>JSON</td>
                    <td><a href="http://localhost:5000/users" target="_blank">http://localhost:5000/users</a></td>
                    <td>Get all user details </td>  
                </tr>

                <tr>
                    <td>2</td>
                    <td>/users/id</td>
                    <td>GET</td>
                    <td>JSON</td>
                    <td><a href="http://localhost:5000/users/id:" target="_blank">http://localhost:5000/users/id</a></td>
                    <td>Get single user details </td>  
                </tr>
                <tr>
                    <td>3</td>
                    <td>/register</td>
                    <td>POST</td>
                    <td>JSON</td>
                    <td><a href="http://localhost:5000/register" target="_blank">http://localhost:5000/register</a></td>
                    <td>Create new record in database</td>  
                </tr>

                <tr>
                    <td>4</td>
                    <td>/update/id</td>
                    <td>PUT</td>
                    <td>JSON</td>
                    <td><a href="http://localhost:5000/update/id:" target="_blank">http://localhost:5000/update/id</a></td>
                    <td>Update a user record </td>  
                </tr>

                <tr>
                    <td>5</td>
                    <td>/delete/id</td>
                    <td>DELETE</td>
                    <td>JSON</td>
                    <td><a href="http://localhost:5000/delete/id:" target="_blank">http://localhost:5000/delete/id</a></td>
                    <td>Delete a user record</td>  
                </tr>


            </tbody>
        </table>
    </div>
</body>
</html>